body {
    margin: 0px; padding: 0px; font-size: 85%;
    color: black;
    background-image: radial-gradient(white, lightgrey);
    font-family: 'marker';
    }

@font-face {
        font-family: 'marker';
        src: url('./Righteous-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

h1 {
    margin-top: 60px;
    text-align: center;
    background-color: yellowgreen;
    color: black;
    font-size: 50px;
    font-weight: bold;
}


#container {
        padding: 0px;
        margin: 1em auto;
        position: relative;
        text-align: center;
        height: auto;
        background-color: lightpink;
        border: 1px solid black;
}

#header {
    height: 80px;
    background-color: brown;
    text-align: center;
}

a.header {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #eee;
    text-shadow: 2px 2px 2px black;
}

#times {
    margin:auto; width: auto; height: auto;
}

td {
    text-align: center;
    border: 2px solid black;
}

.guided {
    color: rgb(60, 179, 113);
}

.closed {
    color: red;
}

.open {
    color: green;
}


tr {
    border: 2px solid black;
}

#content {
    padding: 1em;
    margin-top: 25px;
    margin-left: 0px;
    text-align: center;
    height:auto;
}

a.contact {
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
}

a.opening {
    background-color: pink;
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    border: solid black;
    margin: 5px;
    border-radius: 10px;
    padding: 4px;
}

.navbar {
    position: absolute;
    text-align: center;
    top: 80px; left: 0px;
    height: auto;
    width: 100%;
    background-color: black;
    overflow: visible;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: brown;
    border: solid black 1px;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: brown;
    width: 100%;
    z-index: 1;
    border: solid black 1px;

}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

#menu {
    position: absolute;
    padding: 10px;
    top: 111px; left: 0px;
    width: 109px;
    height: 600px;
    background-color: cyan;
    background-size: cover;
}

#footer {
    height: 20px;
    background-color: black;
    color: white;
    border-bottom: solid white 1px;
    text-align: center;
    font-size: 85%;
    padding-top: 0.4em;
    padding-right: 1em;
}
