body {
    margin:0px;
    padding: 0px; font-size: 85%;
    color: black;
    background-image: radial-gradient(white, lightgreen);
    font-family: 'marker';
    text-align: center;
    }

@font-face {
        font-family: 'marker';
        src: url('./Righteous-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}


h1 {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    background-color: pink;
    color: black;
    border: solid black ;
    border-radius: 10px;
    width: fit-content;
    font-size: 50px;
    font-weight: bold;
}

.homeTitle {
    font-size: 48px;
}

#changeText {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background-color: lightblue;
    border: dotted 8px black;
    font-size: 80px;
    font-weight: normal;
}

h3.info {
    font-size: 24px;
    color: purple;

}

.infoTitle {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    background-color: blueviolet;
    padding: 5px;
    border: solid black;
    font-size: 35px;
    width: fit-content;
    font-weight: normal;
}

.infoDescription {
    color: black;
    font-size: 17px;
}

li{
    font-size: 15px;
    padding: 5px;
}

li.indexBlock{
    font-size: 17px; width:fit-content; margin:auto;
}

ol {
    margin: 0px;
}

ul {
    margin: 0px;
}

.row {
    display: flex;
  }


.imageColumn{
    flex: 50%;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    border:none;
    box-shadow: 0 0 5px 2px #282a2d;
}
  
.column {
    flex: 50%;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border:none;
    box-shadow: 0 0 5px 2px #282a2d;
}

.extraImage{
    width: 100%;
    height: 100%;
}

.columnArrive {
    margin: 10px;
    border:none;
    box-shadow: 0 0 5px 2px #282a2d;
    flex: 33.3%;
    padding: 1em;
}

p {
    color:red; 
    display:inline-block; 
    margin-right: 5px;
}

#header {
    height: 80px;
    background-color: rgb(196, 164, 132);
}

a.header {
    text-decoration: none;
    font-size: 40px;
    color: #eee;
    text-shadow: 2px 2px 2px black;
    vertical-align:middle;
    font-weight: bold;
}

.headerImage {
    width: 100px;
    height:50px;
    vertical-align:middle;
}

.tableImage {
    width: 120px;
    height: 100px;
}



#times {
    margin:auto; width: auto; height: auto;
}

td {
    text-align: center;
    height: 50px;
    background-color: white;
    border: solid black;
    width: auto;
    padding: 5px;
    font-size: 17px;
}

table {
    border: 2px solid black;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

tr {
    border: 2px solid black;
}

.guided {
    color: rgb(60, 179, 113);
}

.closed {
    color: red;
}

.open {
    color: green;
}

#content {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

#contentHome {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    height:100%;
    text-align: center;
    background-image: url("./trees.jpg");
    background-repeat: no-repeat ;
    box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
    background-size: 100%;
}


#contentCollection {
    margin-top: 30px;
    padding: 1em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#contentInfo {
    height:auto;
    text-align: center;
}


a:hover{
    filter: brightness(85%);
}


a.littleButton {
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    border: solid black;
    margin: 5px;
    border-radius: 10px;
    padding: 4px;
}


a.bigButton {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    border: solid black;
    margin: 5px;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    padding: 7px;
}


.navbar {
    position: absolute;
    text-align: center;
    margin-top: 0px;
    top: 80px; left: 0px;
    height: auto;
    width: 100%;
    background-color: black;
    overflow: visible;
}

.navbar a{
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    display: inline-block;
    overflow: visible;
}

.subnav .subnavbtn {
    font-size: 20px;
    border: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(196, 164, 132);
    color: black;
    border: solid black 1px;
}

.subnav-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgb(196, 164, 132);
    width: auto;
    z-index: 1;
    border: solid black 1px;

}

.subnav-content a {
    float: center;
    color: black;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
    background-size: 100% ;
}

.subnav:hover .subnav-content {
    display: block;
}


#textarea {
    width: 400px;
    height: 100px;
}

#disclaimer {
    margin-top: 50px;
    position:fixed;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-top: 2px solid #ff5c62;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
}

#close {
    background-color: white;
    color: red;
}

#footer {
    height: 20px;
    background-color: black;
    color: white;
    border-bottom: solid white 1px;
    text-align: center;
    font-size: 85%;
    padding-top: 0.4em;
    padding-right: 1em;
}

@media screen and (max-width: 600px) {
  

    h1 {
        margin-top: 200px;
        font-size: 8vw;
    }

    h2.infoTitle{
        font-size: 6vw;
    }

    h3{
        font-size: 2.8vw;
    }



    #header{
        width: 100%;
    }

    a.header {
        width: 100%;
        font-size: 4vw;
    }
    
    .headerImage {
        width: 12vw;
        height: 9vw;
        vertical-align:middle;
    }

    #times{
        display: none;
    }

    table {
        display: flex;  
        flex-wrap: nowrap;
        justify-content: center;
        border: none;
    }
        
    tr {
        display: flex;
        flex-direction: column;
        border: none;
    }
        
    td {
        white-space:nowrap;
        height: fit-content;
        font-size: 3vw;
    }

    td.lastRow {
        margin-bottom: 4vw;
    }
    
    .navbar a {
      font-size: 1em;
      width: 99.5%;
      height: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    .subnavbtn{
        font-size: 1em;
        float: none;
        width: 100%;
    }

    .subnav {
        font-size: 1em;
        float: none;
        width: 100%;
        height: 100%;
    }

    .subnav .subnavbtn {
        float: none;
        width: 100%;
        font-size: 1em;
    }

    .subnav-content {
        display: none;
        position: absolute;
        text-align: center;
        width: auto;
    }

    #changeText {
        margin-top: 20px;
        font-size: 6vw;
    }

    #contentHome{
        margin-top: 200px;
        float: none;
        width: auto;
        height: 60vw;
        background-repeat: none;
        background-size: cover;
    }

    .columnArrive{
        margin-top: 20px;
    }

    .row{
        display: block;
    }

    .extraImage{
        width: max-content;
        height: 60vw;
        width: 100%;
    }

    .imageColumn{
        margin: 0px;
        padding: 0px;
        
    }

    .column{
        margin: 0px;
        padding: 20px;
    }

    .homeTitle {
        font-size: 5vw;
    }


    a.bigButton {
        margin-top: 4vw;
        font-size: 4vw;
    }

    a.littleButton {
        margin-top: 4vw;
        font-size: 3.5vw;
    }

    h3.info{
        font-size: 4vw;
    }

    .infoDescription{
        font-size: 3vw;
    }

    ul{
        font-size: 2.5vw;
        padding-left: 17px;
    }

    li {
        font-size: 3vw;
    }

    li.indexBlock{
        font-size: 3vw;
    }

    #textarea {
        width: auto;
    }

    #disclaimer {
        position:fixed;
        height: auto;
        width: auto;
        font-size: 2vw;
    }

    #footer {
       width: auto;
       font-size: 2vw;
    }
}